//variables
$theme: "dark";
$main-c: #0f172a;
$btn_c: #4c40f7;
$btn_c_h: #5c50fc;
$color1: #1e293b;
$color2: #ffad60;
$color3: #a9a9a9;
$color4: #fff;

// all mixins
@mixin reset_form($size, $color, $mrtb) {
  padding-left: 15px;
  padding-right: 15px;
  @include qoraal-p($size, $color);
  margin: $mrtb 0px;
  border: none;
  outline: none;
  text-transform: lowercase;
  &::placeholder {
    text-transform: capitalize;
  }
}

@mixin Shadaw_buttom {
  box-shadow: 0px 0px 12px 0px #d7d7d7a7;
}

@mixin dyshadow($kaw, $laba, $sadex, $afar) {
  box-shadow: $kaw $laba $sadex $afar #4c40f73b;
}
@mixin qoraal-p($size, $color) {
  font-size: $size;
  color: $color;
  letter-spacing: 1.6;
  line-height: 1.6;
  text-wrap: balance;
}

@mixin Totile-H($size, $color) {
  font-size: $size;
  color: $color;
  letter-spacing: 1.5;
  line-height: 1.6;
  font-weight: normal;
  text-wrap: balance;
}

@mixin btn-web($Dherer) {
  width: $Dherer;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  color: $color4;
  font-size: 16px;
  background: $btn_c;
  transition: all 0.4s ease-in-out;
  text-transform: capitalize;
  &:hover {
    background-color: $btn_c_h;
    transition: all 0.4s ease-in-out;
    transform: translate(4px, 0px);
  }
}

@mixin flex-box($dir) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap $dir;
  text-transform: capitalize;
}
@mixin dynamic-flex($js, $at, $dir, $dhex) {
  display: flex;
  justify-content: $js;
  align-items: $at;
  flex-flow: wrap $dir;
  gap: $dhex;
  text-transform: capitalize;
}

@mixin icon($zise, $color) {
  width: $zise;
  color: $color;
  margin-top: 2px;
}

@mixin Break-Points($Point) {
  @if ($Point == xsm) {
    @media (min-width: 200px) and (max-width: 576px) {
      @content;
    }
  } @else if($Point == sm) {
    @media (min-width: 576px) and (max-width: 768px) {
      @content;
    }
  } @else if($Point == md) {
    @media (min-width: 768px) and (max-width: 992px) {
      @content;
    }
  } @else if($Point == lg) {
    @media (min-width: 992px) and (max-width: 1200px) {
      @content;
    }
  } @else if($Point == xlg) {
    @media (min-width: 1200px) and (max-width: 1400px) {
      @content;
    }
  } @else if($Point == xxlg) {
    @media (min-width: 1400px) {
      @content;
    }
  }
}

// placeholders

%img {
  position: relative !important;
  object-fit: cover;
}

%Gradient {
  background-image: linear-gradient(360deg, #004bd6, #170148);
}

%reset-ul {
  position: relative;
  margin: 0;
  padding: 0;
  li {
    position: relative;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-transform: capitalize;
    list-style: none;

    a {
      text-decoration: none;
      width: 100%;
      display: block;
      text-transform: capitalize;
    }
  }
}

%reset-link {
  text-decoration: none;
  width: 100%;
  display: block;
  height: 100%;
}

%reset-link_in {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

%over_velow_elm {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

%over_vallow_set {
  width: 100%;
  height: 100%;
  position: fixed;
  // background-color: $color_over;
  z-index: 9999999999999;
  top: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(12px);
  -moz-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  overflow: hidden;
  visibility: hidden;
  @include dynamic-flex(center, center, column, 0px);
}

%colse_btn {
  width: 25px;
  height: 25px;
  // background-color: $colose_color;
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 99999;
  cursor: pointer;
  // color: $bg-main;
  @include dynamic-flex(center, center, column, 0px);
}

// controll if else

* {
  scrollbar-color: $main-c;
  scrollbar-width: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $main-c;
  &.modelsHiden {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: $color1;
  ::selection {
    color: $btn_c;
    background-color: $color1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $btn_c;
}

::-webkit-scrollbar-thumb {
  background-color: $btn_c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: $btn_c;
}
.haye {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.xajiye {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

// video list
div.videolist {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  div.list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
    div.oneVideo {
      height: 250px;
      border-radius: 8px;
      background-color: $btn_c;
      @include flex-box(column);
      h3 {
        color: $color4;
        @include qoraal-p(18px, $color4);
        font-weight: normal;
      }
      p {
        color: $color4;
        @include qoraal-p(13px, $color3);
        font-weight: normal;
      }
      a {
        width: 50%;
      }
      button {
        @include btn-web(100%);
        background-color: $color1;
      }
    }
  }
}

// bilow style
div.videoCon {
  width: 100%;
  height: 100%;
  // background-color: #004bd6;
  div.myVideo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
    padding: 40px 0px;
    div.Ciwaan {
      padding: 10px 10px;
      h2 {
        color: $color4;
        @include qoraal-p(18px, $color4);
        font-weight: normal;
      }
      p {
        color: $color4;
        @include qoraal-p(13px, $color3);
        font-weight: normal;
      }
    }
    div.VideoStream {
      width: 60%;
      height: 452px;
      border-radius: 10px;
      border: solid 2px $btn_c;
      overflow: hidden;
      .Video_Next {
        width: 100%;
        height: 100%;
      }
    }
  }
}
